@import "./settings.scss";


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  font-family: $font-main;
  font-size: ($base-size * 1.1);
  color: $color-light;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  overflow-y: scroll;

}

a {
    text-decoration: none;
}