@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

$base-size: 12px;
$color-light: #fff;
$font-main:  'Montserrat', sans-serif;
$font_second: 'Roboto', sans-serif;
