@import '../../../styles/settings.scss';

.root {
    display: flex;
    flex-direction: column;
    .titleContainer {
        align-items: center;
    };
    .postsContainer {
        flex-wrap: wrap;
        height: 70vh;
    };

    .titleContainer, .postsContainer {
        display: flex;
        justify-content: space-between;
    };
    .paper {
        display: flex;
        justify-content: center;
        align-items: center;
        .formContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // width: 60%;
            height: 90%;
        }
    }
}
