@import '../../../styles/settings.scss';

.root {
    display: flex;
    flex-direction: column;

    .paper {
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .formContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 60%;
            height: 90%;
        }
    }

}
